body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button1 {
    background-color: rgb(255, 0, 0);
    color: rgb(238, 255, 0);
}

.button2 {
    background-color: yellow;
    color: antiquewhite;
}

.button3 {
    background-color: beige;
    color: white;
}

img {
    height: auto;
    width: 500px;
}

p {
    background-color: black;
    color: white;
}

h1,
h3,
h4,
li {
    text-align: center;
    
}